.allowed-submit {
    opacity: 0.5;
    cursor: not-allowed;
}
.valid-input {
    border: 1px solid green !important;
}
.invalid-input {
    border: 1px solid red !important;
}
.invalid-msg {
    color: red;
}
.validation-form h3 {
    background: #eae9e9;
    text-align: center;
    padding: 5px 0px;
}
.validation-form {
    border: 1px solid orange;
    width: 50%;
    background: #dad9d9;
    padding: 10px 30px;
}
.validation-form .form-group {
    margin: 15px 0px;
}
.validation-form .form-group input {
    padding: 10px;
    width: 94%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid orange;
}
.validation-form .form-group input:focus {
    outline: unset;
}
.validation-form .form-group input[type="submit"] {
    width: 100%;

    background: orange;
    font-size: 20px;
    color: white;
}
